USE [master]
GO
/****** Object:  Database [ArkoneGestion]    Script Date: 22/12/2023 16:07:55 ******/
CREATE DATABASE [ArkoneGestion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArkoneGestion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ArkoneGestion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArkoneGestion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ArkoneGestion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArkoneGestion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArkoneGestion]
GO
/****** Object:  Table [dbo].[CodesAcces]    Script Date: 22/12/2023 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodesAcces](
	[IdCodeAcces] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](6) NULL,
	[IdInvite] [int] NULL,
	[IdEvent] [int] NULL,
	[Statut] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCodeAcces] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evenement]    Script Date: 22/12/2023 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evenement](
	[IdEvent] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](255) NULL,
	[Lieu] [nvarchar](255) NULL,
	[Latitude] [nvarchar](255) NULL,
	[Longitude] [nvarchar](255) NULL,
	[DateEvenement] [datetime] NULL,
	[IdOrganisateur] [int] NULL,
 CONSTRAINT [PK__Evenemen__E0B2AF396A12E788] PRIMARY KEY CLUSTERED 
(
	[IdEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invite]    Script Date: 22/12/2023 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invite](
	[IdInvite] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](255) NULL,
	[Prenom] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Telephone] [nvarchar](20) NULL,
	[Confirmation] [bit] NULL,
 CONSTRAINT [PK__Invite__22B0C94EBC18E359] PRIMARY KEY CLUSTERED 
(
	[IdInvite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SousEvenement]    Script Date: 22/12/2023 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SousEvenement](
	[IdSousEvent] [int] IDENTITY(1,1) NOT NULL,
	[IdEvent] [int] NULL,
	[NomSousEvent] [nvarchar](255) NULL,
	[DateHeure] [datetime] NULL,
 CONSTRAINT [PK__SousEven__A5C86BE62CB79868] PRIMARY KEY CLUSTERED 
(
	[IdSousEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 22/12/2023 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[IdUtilisateur] [int] IDENTITY(1,1) NOT NULL,
	[NomUtilisateur] [nvarchar](255) NULL,
	[MotDePasse] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[IsVigile] [bit] NULL,
 CONSTRAINT [PK__Utilisat__45A4C15779500DCA] PRIMARY KEY CLUSTERED 
(
	[IdUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CodesAcces]  WITH CHECK ADD  CONSTRAINT [FK__CodesAcce__IdEve__2C3393D0] FOREIGN KEY([IdEvent])
REFERENCES [dbo].[Evenement] ([IdEvent])
GO
ALTER TABLE [dbo].[CodesAcces] CHECK CONSTRAINT [FK__CodesAcce__IdEve__2C3393D0]
GO
ALTER TABLE [dbo].[CodesAcces]  WITH CHECK ADD  CONSTRAINT [FK__CodesAcce__IdInv__2B3F6F97] FOREIGN KEY([IdInvite])
REFERENCES [dbo].[Invite] ([IdInvite])
GO
ALTER TABLE [dbo].[CodesAcces] CHECK CONSTRAINT [FK__CodesAcce__IdInv__2B3F6F97]
GO
ALTER TABLE [dbo].[Evenement]  WITH CHECK ADD  CONSTRAINT [FK__Evenement__IdOrg__267ABA7A] FOREIGN KEY([IdOrganisateur])
REFERENCES [dbo].[Utilisateur] ([IdUtilisateur])
GO
ALTER TABLE [dbo].[Evenement] CHECK CONSTRAINT [FK__Evenement__IdOrg__267ABA7A]
GO
ALTER TABLE [dbo].[SousEvenement]  WITH CHECK ADD  CONSTRAINT [FK__SousEvene__IdEve__2F10007B] FOREIGN KEY([IdEvent])
REFERENCES [dbo].[Evenement] ([IdEvent])
GO
ALTER TABLE [dbo].[SousEvenement] CHECK CONSTRAINT [FK__SousEvene__IdEve__2F10007B]
GO
USE [master]
GO
